altgraph==0.17.4
Babel==2.15.0
colorama==0.4.6
docxcompose==1.4.0
docxtpl==0.17.0
et-xmlfile==1.1.0
importlib_resources==6.4.0
Jinja2==3.1.4
libusb-package==1.0.26.2
lxml==5.2.2
MarkupSafe==2.1.5
numpy==1.26.3
openpyxl==3.1.2
packaging==24.1
pefile==2023.2.7
pillow==10.3.0
pkg-about==1.1.6
plum-dispatch==1.7.4
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pypng==0.20220715.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
python-docx==1.1.2
pytz==2023.3.post1
pyusb==1.2.1
pywin32==306
pywin32-ctypes==0.2.2
qrcode==7.4.2
segno==1.6.1
shiboken6==6.6.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.11.0
tzdata==2023.4
